
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;

}
.btn-primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 1rem;
    background: #37cc37;
    padding: 15px 20px;
    cursor: pointer;
    border: 0;
}
header{
    background: #cde7a5;
    padding: 30px 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.nav-title{
    font-size: 1.9rem;
    font-weight: 700;
    color: #131313;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #242424;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
.banner-p{
    color: #727272;
}
.img{
    width: 100%;
    margin-top: 16px;
}
.teams-container{
    display: flex;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
}
.team-content{
    padding-left: 60px;
    padding-right: 60px;   
}
.team-title{
    font-size: 2rem;
}
.team-title .qu{
    color: #727272;
    font-weight: 500;
}
.fea{
   color: #37cc37; 
   font-weight: 700;
}


@media screen and (max-width: 576px) {
    header{
        padding: 15px;

    }
    nav{
        flex-direction: column;
    }
}
