
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;

}
.team-p{
    color: #727272;
}
.btn-primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 1rem;
    background: #37cc37;
    padding: 15px 20px;
    cursor: pointer;
    border: 0;
}
header{
    background: #cde7a5;
    padding: 30px 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.nav-title,
.f-h,
.card-title,
.spo{
    font-size: 1.6rem;
    font-weight: 700;
    color: #131313;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #242424;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
.img{
    width: 100%;
    margin-top: 16px;
}
main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
}
.team-content{
    padding-left: 60px;
    padding-right: 60px;   
}
.team-pj{
    text-align: center;
}
.team-title{
    font-size: 2rem;
}
.team-title .qu{
    color: #727272;
    font-weight: 500;
}
.fea{
   color: #37cc37; 
   font-weight: 700;
}

.facts-card{
    display: flex;
    justify-content: space-around;
}
.f-h{
    text-align: center;
}
.facts-card .card{
    border-radius: 8px;
    border: 1px solid #37cc37;
    text-align: center;
    padding: 40px 30px;
}

.facts-card .card-stats{
    font-size: 1.9rem;
    color: #424242;
}
.Sponspors{
    text-align: center;
}
.sponsors-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.sponsors-img img{
    height: 50px;
    width: 100px;
    padding: 40px;
    margin: 40px;
}
.foot-text{
    background-color: #cde7a5;
    height: 60px;
    width: 800px;
}
.foot-text > p{
    text-align: center;
    margin-top: 15px;
}

.features{
    margin-top: 50px;
    display: flex;
    gap: 90px;
}
.features .too{
    border-left: 5px solid #37cc37;
    padding-left: 30px;
}
.feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-year{
    border-radius: 8px;
    background: #37cc37;
    color: #FFF;
    text-align: center;
    width: 160px;
    padding: 20px;
    position: relative;
    bottom: 90px;
}
.ten-year h2{
    font-size: 3rem;
}

@media screen and (max-width: 576px) {
    header{
        padding: 15px;

    }
    nav{
        flex-direction: column;
    }
    .team-img{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        gap: 17px;
    }
    .facts-card{
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
    }
    .teams-container{
        flex-direction: column;
        align-items: center;
    }
    .sponsors-img img{
        flex-direction: column;
    }
    
    .ic{
        height: 90%;
        width: 100%;
    }
.features{
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
}
.features .too{
    border-left: 3px solid #37cc37;
    padding-left: 10px;
}
.feature-content .card{
    padding: 10px;
    margin-bottom: 7px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-year{
    border-radius: 8px;
    background: #37cc37;
    color: #FFF;
    text-align: center;
    width: 90px;
    padding: 20px;
}

.ten-year h2{
    font-size: 1rem;
}

}

